*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Tajawal', sans-serif;

background-color: #290019;
}

:root{
--main-color:darkorange;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: #000 !important;

}
.offcanvas h5,.navbar-brand
{
  font-family: 'Reem Kufi', sans-serif !important;
  color: var(--main-color) !important;

}
.navbar{
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  
}
.navbar-toggler{
  border: 2px solid var(--main-color) !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.offcanvas{
  max-width: 80% !important;
  
}
.offcanvas ul li{
  font-size: 17px !important;
}
 .active{
  color: #fff !important;
  border-radius: 8px;
  background-color: var(--main-color);
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.nav-item:hover .active{
  border-radius: 8px;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color)!important;
  background-color: #fff !important;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

h1{
  color: #f7f7f8 !important;
  margin-top: 100px !important;
  border-bottom: 1px solid #fff;

}
.image img{
  width: 100%;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slide p{
  color: var(--main-color);
}

.carousel-inner h5,.card-title{
  color: var(--main-color);
  font-weight: 900 !important;
}


.carousel-item{
  position: relative !important;
}
.cars{
  position: absolute !important;
  left: 50% !important;
  top: 65% !important;
  width: 80%;
  transform: translate(-50%,-50%) !important;
  -webkit-transform: translate(-50%,-50%) !important;
  -moz-transform: translate(-50%,-50%) !important;
  -ms-transform: translate(-50%,-50%) !important;
  -o-transform: translate(-50%,-50%) !important;
  background-color: #0000009a;
  margin-bottom: 60vh !important;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width:500px) {
  .carousel-item{
    height: 50vh !important;
  }
  .carousel-item img{
    height: 100% !important;
  }
  .cars{
    top: 58% !important;
    width: 75% !important;
  
  }
  .cars h5{
font-size: 16px !important;
padding-bottom: 10px !important;
  }
.cars p{
  font-size: 12px !important;
}
.cars a{
  font-size: 12px !important;
}
}

@media (min-width:501px) and (max-width:700px){

  .cars{
    top: 60% !important;
    width: 95% !important;
  
  }
  .cars h5{
font-size: 25px !important;
padding-bottom: 10px !important;
  }
.cars p{
  font-size: 20px !important;
}
.cars a{
  font-size: 18px !important;
}

}

@media (min-width:701px) and (max-width:999px){

  .cars{
    top: 50% !important;
    width: 85% !important;
  
  }
  .cars h5{
font-size: 30px !important;
padding-bottom: 10px !important;
  }
.cars p{
  font-size: 22px !important;
}
.cars a{
  font-size: 20px !important;
}


}
@media (min-width:1000px) {
  .carousel-inner{
    height: 100vh !important;
  }
  .cars{
    top: 40% !important;
    width: 75% !important;
  
  }
  .cars h5{
font-size: 45px !important;
padding-bottom: 10px !important;
  }
.cars p{
  font-size: 30px !important;
}
.cars a{
  font-size: 25px !important;
}


}
.list-unstyled li{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}



.card{
  border: 1.5px solid var(--main-color) !important;
  box-shadow: 0 0 8px var(--main-color);
}
.card .card-body a,.main-head{
  color: #fff !important;
  background-color: var(--main-color) !important;
  border: 0 !important;
}
.main-head{
text-align: center;
border:1px solid #fff !important;
box-shadow: 0 0 8px #fff;
border-radius: 8px;
}
iframe{
  width: 100%;
  border: 1.5px solid var(--main-color) !important;
  box-shadow: 0 0 8px var(--main-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.call{
color: #fff !important;
background-color: rgba(79, 1, 131, 0.404) !important;
  border: 1.5px solid var(--main-color) !important;
  box-shadow: 0 0 8px var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}